section::after {
	content: "";
	display: table;
	clear: both;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 15px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

* {
	box-sizing: border-box;
}

aside {
	float: left;
	padding: 20px;
	width: 70%;
	background-color: #cec8c8;
	height: 300px;
	/* only for demonstration, should be removed */
}

.center {
	margin-left: auto;
	margin-right: auto;
}

/* Style the header */
.header {
	background-color: rgb(19, 16, 16);
	padding: 20px;
	text-align: center;
	color: #f2f2f2;
}
/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: rgb(165, 22, 22);
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* Style the footer */
footer {
	background-color: rgb(19, 16, 16);
	padding: 10px;
	text-align: center;
	color: white;
}
/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.h {
	background-color: white;
	padding: 6px;
	color: rgb(179, 15, 15);
	text-align: center;
}